$color-green-themes: #00df8e;
$color-black-themes: #000000;
$color-white-themes: #ffffff;

$fs-h1: 120px;
$fs-h2: 60px;
$fs-h3: 28px;

$fs-base: 18px;
$fs-navigation: 16px;
$fs-dropdown: 26px;

$fw-title: bold;